.container {
  display: flex;
  flex-direction: row;
}
.main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 280px);
  min-height: 100vh;
  position: relative;
}

@media only screen and (max-width: 768px) {
  /* Cấu hình định dạng cho container */
  .container {
    flex-direction: column;
  }

  /* Cấu hình định dạng cho sidebar */
  .sidebar {
    width: 100%;
    height: auto;
  }

  /* Cấu hình định dạng cho main */
  .main {
    width: 100%;
    height: auto;
  }
}