
.header-action {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: black;
  padding: 1rem 0;
  border-bottom: 1px solid #93D2DC;
}

.button{
  grid-column: span 1/span 1;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #324B4F;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 1px;
}

.button-edit-field svg{
  margin: 0 0.3rem;
  color: white;
  font-size: 18px;
}

.button-edit-field{
  cursor: pointer;
  background-color: #324B4F;
  border: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea{
  width: 100%;
  height: 100%;
  margin: 0.8rem auto 0.5rem auto;
  border: 1px solid #dcdfe4;
  border-radius: 4px;
  background-color: #324B4F;
  color: white;
}
textarea:focus{
  outline: none;
}
label{
  font-weight: 700;
  color: white;
  background-color: #324B4F;
}
.edit-modal .ant-modal-content{
  background-color: #324B4F;
}
.frame-input-file{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: span 3 / span 3;
}

.item-header-row button{
  width: 100%;
  height: 100%;
}

.title{
  color: white;
  font-weight: 700;
  display: flex;
  background-color: #324B4F;
  padding: 0 0.5rem;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.frame-input-file input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #c5dce0;
  padding: 10px 20px;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 1px;
  transition: background .2s ease-in-out;
}
.open-file{
  width: 100%;
}
.frame-input-file input[type=file]::file-selector-button:hover {
  background: #74b9c4;
}

.frame-input-file input{
  color: white;
}

.frame-input{
  grid-column: span 2 / span 2;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 6px;
  background-color: #c5dce0;
  border-radius: 4px;
  overflow: hidden;
}

.frame-input .icon-change{
  font-size: 20px;
  margin-left: 0.4rem;
}
.frame-input .input-onchange{
  background-color: #c5dce0;
  border: none;
  outline: none;
  width: 100%;
}

.frame-header-row{
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
  position: sticky;
  top: 4.7rem;
  background-color: black;
  border-bottom: 1px solid #93D2DC;
  padding: 1rem 0;
}
.item-header-row{
  background-color: #324B4F;
  padding: 0.5rem;
  border-radius: 4px;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 550;
  grid-column: span 1/span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.frame-table{
  width: 100%;
}

.tbody{
  /* display: grid; */
  width: 100%;
  gap: 1rem;
}

.item-content-row{
  max-width: 100%;
  display: grid;
  gap: 1rem;
  margin-top: 0.5rem;
  /* background-color: #324B4F; */
  padding: 0.5rem 0;
  border-radius: 2px;
  /* grid-column: span 1/span 1; */
}

.item-content{
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: row;
}

.item-content input{
  width: 100%;
  padding: 0.5rem;
}

.frame-icon-action{
  background-color: #93D2DC;
  border-radius: 4px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 550;
  padding: 0.3rem 0.5rem;
}

.item-content input{
  border: none;
  outline: none;
}